<h1>Index /Tweets </h1>

<%@tweets.each do |show_tweet|%>
<%= show_tweet.to_a %>
<br/><br/>
<% end %>

<footer>
<p><b>Current Tweet Count: 
    <%= Tweet.count %>
</b>    
</p>
<%= link_to "Go to Search", tweets_path %>
    
    

</footer>